
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.accordion {
    margin: 10px 100px 10px 100px;
    overflow: hidden;
}

h1{
    margin-left: 100px;
}

.accordion_item-1,
.accordion_item-2,
.accordion_item-3,
.accordion_item-4 {
    margin: 10px 100px 10px 100px;
    overflow: hidden;

}


.accordion-label {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid gray;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
    color: #17209c;
}

.accordion-label:hover{
    color: black;
}

.accordion-content-1,
.accordion-content-2,
.accordion-content-3,
.accordion-content-4 {
    max-height: 0;
    padding: 0 1em;
    background: white;
    transition: all 1s;
}

input:hover~.accordion-content-1,
input:hover~.accordion-content-2,
input:hover~.accordion-content-3,
input:hover~.accordion-content-4 {
    max-height: 100vh;
    padding: 1em;
}

