/* html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
  }
  
  h1 {
    font-size: 3rem;
  } */

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.accordion {
    /* margin: 10px 100px 10px 100px; */
    max-width: 960px;
    margin: 1rem auto;
    overflow: hidden;
}

h1 {
    cursor: pointer;
}


.accordion_item-1,
.accordion_item-2,
.accordion_item-3,
.accordion_item-4 {
    /* margin: 10px 100px 10px 100px; */
    overflow: hidden;
    text-align: center;
}

.accordion-label {
    display: flex;
    border-top: 2px double rgb(216, 213, 213);
    /* border-radius: 5px; */
    padding: 1em;
    font-size: large;
    font-weight: bold;
    /* background-color: rgb(252, 244, 244); */
    cursor: pointer;
    color: #17209c;
}

.accordion-label:hover {
    color: black;
}

.accordion-content-1,
.accordion-content-2,
.accordion-content-3,
.accordion-content-4 {
    max-height: 0;
    padding: 0 1em;
    background: white;
    transition: all 0.5s;
}

/* #defolt_content{ 
    max-height: 100vh;
    padding: 1em;
} */
/* input::before~.accordion-content-1{
    max-height: 100vh;
    padding: 1em;
} */

/* input:hover~.accordion-content-1,
input:hover~.accordion-content-2,
input:hover~.accordion-content-3,
input:hover~.accordion-content-4 {
    max-height: 100vh;
    padding: 1em;
} */


input:checked~.accordion-content-1,
input:checked~.accordion-content-2,
input:checked~.accordion-content-3,
input:checked~.accordion-content-4 {
    max-height: 100vh;
    padding: 1em;
}

img {
    width: 300px;
}
